/* 基準色 */

  $baseblueColor: #B0D0DC; // 1うす水色（ロゴ色）
  $greeColor: #92A4B0; // 2ベースカラー・ブルーグレー

  $greenColor: #C5DF9C; //5 グリーン系

  $pinkColor: #E0B6A9; // 10指し色のピンク系　赤ねこなどの鼻色

  $mainFontColor: #332d2b; // 11こげ茶系
  $konjyoColor: #192f60; // 12紺青

  $softyelColor1: #FFFABE; // 13ソフト黄色ちょっとうすい色
  $softyelColor2: #FFFDE6; // ソフト黄色よりうすい色