/* 基準色 */

  $baseblueColor: #B0D0DC; // 1うす水色（ロゴ色）
  $greeColor: #92A4B0; // 2ベースカラー・ブルーグレー

  $greenColor: #C5DF9C; //5 グリーン系

  $pinkColor: #E0B6A9; // 10指し色のピンク系　赤ねこなどの鼻色

  $mainFontColor2: #332d2b; // 11こげ茶系
  $mainFontColor: #543900; // 茶色 薄め
  $konjyoColor: #192f60; // 12紺青
  $softyelColor1: #FFFABE; // 13ソフト黄色ちょっとうすい色
  $softyelColor2: #FFFDE6; // ソフト黄色よりうすい色
  $orangeColor: #ffc864; //オレンジ色
  $orengeColor2: #FFAD00; // オレンジ濃いめ

    /* セクションSNS */
.top_sns {
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 20px;
    // SNSグリッド
    display: grid;
    grid-template-columns: 2fr 200px 2fr;
    grid-template-rows: auto;
  ul{
    grid-column: 2 / 3;
    grid-row: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
  }
  a{
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: block;
    width: 40px;
    line-height: 35px;
    background-color: $mainFontColor;
  }
}




//
/* セクションメッセージ */
<div class="about_message">
    <div class="about_message_p">
        <p>ひとつひとつ、<br>こころを込めて作っています</p>
// </div>
.about_message {
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: 20px;
  background-image: url(../images/top/top_hand.png);
    background-position: center right;
    p {
    display: block;
    text-align: center;
    margin-top: 180px;
    font-size: 32px;
    color: $orangeColor;
    text-shadow:2px 2px 6px $orangeColor;
    }
}

<img src="images/gif/gifanime02.gif" alt="巨キョロ見る猫のウォネ">


// 空白の要素をbackgroundの高さと幅でサイズを作る
.space-image {
  grid-column:1 / -1;
  grid-row: 4 / 5;
  background: url("../images/top/sakana01.jpg") 0 0 no-repeat;
  padding-bottom: calc(100%*350/237);/* calc(100*ImageHeight/ImageWidth)% */
  background-size: 100% auto;
}

//ゆっくりフェードインアウトする文字
<span class="blinking">●</span>

// jquery.masorny.js ギャラリーを並べる
jQuery(function($){
  var container = document.querySelector('#gallery');

  imagesLoaded(container, function () {
    var msnry = new Masonry(container, {
      itemSelector: '.item', //コンテンツのclass名
      isFitWidth: true, //コンテナの親要素のサイズに基づいて、コンテンツのカラムを自動調節します。
      columnWidth: 310, //カラムの幅を設定
    });

    $('#loading').fadeOut(300); //画像が読み込み終わったらloadingを非表示にする
    $('#gallery').addClass('on'); //コンテナにclassを付与して表示を切り替える
  });

});

object-fit: cover;