/* 基準色 */

  $baseblueColor: #B0D0DC; // 1うす水色（ロゴ色）
  $greeColor: #92A4B0; // 2ベースカラー・ブルーグレー

  $greenColor: #C5DF9C; //5 グリーン系

  $pinkColor: #E0B6A9; // 10指し色のピンク系　赤ねこなどの鼻色

  $mainFontColor: #332d2b; // 11こげ茶系
  $konjyoColor: #192f60; // 12紺青

  $softyelColor1: #FFFABE; // 13ソフト黄色ちょっとうすい色
  $softyelColor2: #FFFDE6; // ソフト黄色よりうすい色

  $orangeColor: #FFAD00; //オレンジ色

    /* セクションSNS */
.top_sns {
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 20px;
    // SNSグリッド
    display: grid;
    grid-template-columns: 2fr 200px 2fr;
    grid-template-rows: auto;
  ul{
    grid-column: 2 / 3;
    grid-row: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
  }
  a{
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: block;
    width: 40px;
    line-height: 35px;
    background-color: $mainFontColor;
  }
}