@charset "utf-8";
/* 基準色 */

  $baseblueColor: #B0D0DC; // 1うす水色（ロゴ色）
  $greeColor: #92A4B0; // 2ベースカラー・ブルーグレー

  $greenColor: #C5DF9C; //5 グリーン系

  $pinkColor: #E0B6A9; // 10指し色のピンク系　赤ねこなどの鼻色

  $mainFontColor: #332d2b; // 11こげ茶系
  $konjyoColor: #192f60; // 12紺青

  $softyelColor1: #FFFABE; // 13ソフト黄色ちょっとうすい色
  $softyelColor2: #FFFDE6; // ソフト黄色よりうすい色
  $orangeColor: #FFAD00; //オレンジ色


/* 基本 */
html{
    font-size: 62.5%;
}
body  {
    margin: 0;
    font-family: 'メイリオ', Meiryo,'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    font-size:1.6rem;/* 16px*/
    line-height: 2;
}
h1 {
    font-size: 36px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
    line-height: 1.3;
}
h2 {/* 20px~24pxで可変*/
    line-height: 1.3;/* 20px~24pxで可変*/
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
}


/* ####### 画面の横幅が1024px以下の場合 ###### */
.page * {
  margin: 0;
}

.logo img {
  width: 200px;
  vertical-align: bottom;
  margin:0;
  padding: 0;
    }

.page-nav, .page-btn-close {
  display: none;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
 min-height: 100vh;
}

.page-head {
  grid-column: 1;
  grid-row: 1;
  padding: 15px 0;
  background-color: #fffde4;
  text-align: center;
}


   /* headerのSNS */
.top_sns {
  margin: 20px;
  display:none;
    // SNSグリッド
  ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
  }
  a{
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: block;
    width: 40px;
    line-height: 35px;
    background-color: $mainFontColor;
  }
}



.page-main {
  grid-column: 1;
  grid-row: 2;
  background-color: #fff;
}



// navここか？？？？
.page-nav {
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  display: none;
}
.page-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-nav a {
  display: block;
  margin: 30px;
  border-bottom: solid 1px #aaa;
  color: $mainFontColor;
  font-family: 'Pangolin', cursive;
  font-size: 24px;
  text-decoration: none;
}

.open .page-nav {
  display: block;
}

.page-btn,
.page-btn-close {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: start;
  padding: 20px;
  border: none;
  color: $mainFontColor;
  font-size: 28px;
  cursor: pointer;
  background-color: transparent;
}

.page-btn-close {
  display: none;
}

.open .page-btn {
  display: none;
}

.open .page-btn-close {
  display: block;
}

.page-foot {
  grid-column: 1 / -1;
  grid-row: 5;
  margin: 0;
  padding: 40px 0;
  background-color: $mainFontColor;
    // SNSグリッド
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: 1fr 1fr;
  ul{
    grid-column: 2 / 3;
    grid-row: 1;
    grid-column-gap: 50px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a{
    font-size: 24px;
    color: $mainFontColor;
    text-align: center;
    border-radius: 50%;
    display: block;
    width: 50px;
    line-height: 50px;
    background-color: $orangeColor;
  }
}

.page-foot small {
    grid-column: 2;
    grid-row: 2;
    color: #fff;
    display: grid;
    margin-top: 20px;
    justify-self: center;
    margin-top: 10px;
  }







/* ####### 画面の横幅が1260px以上 ###### */
@media (min-width: 1260px) {
  /* メインコンテンツ */

  /* ヘッダー */
  /* ヘッダーのSNS*/
  .page-head {
    grid-column:1;
    grid-row: 1;
    // ヘッドのグリッド
    display:grid;
    grid-template-columns: 200px repeat(10, 1fr);
    grid-template-rows: auto 100px;
    .logo {
      grid-column:1 / 3;
      grid-row: 1 / 3;
      img{
        width: auto;
        margin:20px 20px 20px 30px;
        padding: 0;
        }
      }
    }
// ヘッダーのSNSのナビゲーション
  .top_sns {
    grid-column: 10 / -1;
    grid-row: 1;
    grid-column-gap: 50px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

// ヘッダーのナビゲーション
  .page-nav {
    display:grid;
    grid-column: 3 / -1;
    grid-row: 2;
    background-color: transparent;

    .top-nav {
    display:grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    color:#fff;
    a {
      border: none;
      font-size: 26px;
      color: $mainFontColor;
      text-align: center;
      display: block;
    }
  }
}

  /* ボタン */
  .page-btn {
    display: none;
  }

}