@charset "utf-8";
/*基本*/
body  {margin: 0;
    font-family: 'メイリオ', Meiryo,'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}


/*         トップイメージ         */
.mainimage {
    margin: 0;
    width:100%;
    height:50px;
    background: #8aa93a;
    padding: 10px;
    text-shadow: none;
    color: #000;
    text-align:center;
}
/*         menu画面         */
 #menu{
  list-style-type: none;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background: #332D2B;
}
#menu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  a{
      display: block;
      margin: 0;
      padding: 13px 0;
      color: #fff;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;
    }
}
#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
    padding: 0;
}
#menu li:last-child ul{
  left: -100%;
  width: 100%
}
#menu li ul li{
  overflow: hidden;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  width: 100%;
  a{
      padding: 13px 15px;
      background: #332D2B;
      text-align: left;
      font-size: 12px;
    }
}
#menu li:hover > a{
  background: #332D2B;
  color: #e0dc62;
}
#menu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}
#menu li:hover ul li:first-child{
  border-top: 0;
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
}

.contents {
    width:100%;
    height:1000px;
    background:#FFF;
    padding: 10%;
    p{
        margin-top: 50px;
    }
}

.bottom {
    width: 100%;
    height: 200px;
    background: #3aa5a9;
    padding: 10%;
    text-shadow: none;
    color: #000;
}
//ナビゲーション固定
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
/*         メイン         */
/*         メイン１         */
/*         メイン２         */
/*         フッター         */
.copyright {
    color: #fff;
    background-color: #332D2B;
    padding: 20px;
    text-align: center;
}

// サンプルボックス　手書き風線
.sample-box-12 {
    border: 4px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 5em 0;
    padding: 2em;
}